<div id="footer">
    <img id="hex" src="/images/Argentina_flag.png" />
    <p>Ind. Argentina</p>
</div>

<style>
    img {
        float: right;
        width: 3%;
        margin-right: 4%;
        margin-top: 2.5%;
    }
    p {
        float: right;
        position: relative;
        margin-top: 6%;
        right: -4%;
        font-size: 11px;
    }
</style>
