<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/images/Logo.png" class="h-8 logo" alt="Flowbite Logo" />
        </a>
    </div>

    <div class="imagenes">
        <div>
            <img
                src="/images/imgSup02.png"
                alt=""
                style="width:145px; height:80% !important;"
            />
        </div>
        <div>
            <img
                src="/images/imgSup01.png"
                alt=""
                style="width:190px; height:80% !important;"
            />
        </div>
        <div>
            <img
                src="/images/imgSup03.png"
                alt=""
                style="width:170px; height:80% !important;"
            />
        </div>
    </div>
</nav>

<style>
    nav {
        background-position: bottom;
        position: relative;
        top: -30px;
        left: 1%;
    }

    .imagenes {
        display: grid;
        grid-template-columns: 1.4fr 1.6fr 1.6fr;
        padding-left: 30%;
        width: 60% !important;
        position: relative;
        top: -90px;
    }

    .logo {
        width: 250px;
        top: 37px;
        position: relative;
    }
</style>
