<ul
    class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400"
    style="list-style-type: none;"
>
    <li class="flex items-center text-gray-900 text-8xl dark:text-white">
        <svg
            class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
        >
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            ></path>
        </svg>
        <span style="color:red; font-size:35px;">1</span>00% <br />
        <span style="color:lightblue; font-size:30px; margin-left:11%;">A</span
        >luminio
    </li>
    <li class="flex items-center">
        <svg
            class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
        >
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            ></path>
        </svg>
        <span style="color:red; font-size:35px;">C</span>on <br />
        <span style="color:lightblue; font-size:30px; margin-left: 11%;">C</span
        >erradura
    </li>
    <li class="flex items-center">
        <svg
            class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400 flex-shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
        >
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            ></path>
        </svg>
        <span style="color:red; font-size:35px;">A</span>uto- <br />
        <span style="color:lightblue; font-size:30px; margin-left:11%;">E</span
        >nrollable
    </li>
    <li class="flex items-center">
        <svg
            class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400 flex-shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
        >
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            ></path>
        </svg>
        <span style="color:red; font-size:35px;">F</span>ácil <br />
        <span style="color:lightblue; font-size:30px; margin-left:11%;">I</span
        >nstalación
    </li>
    <li class="flex items-center">
        <svg
            class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400 flex-shrink-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
        >
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            ></path>
        </svg>
        <span style="color:red; font-size:35px;">2</span> años de<br />
        <span style="color:lightblue; font-size:30px; margin-left:11%;">G</span>arantía
    </li>
</ul>

<style>
    ul {
        position: relative;
        left: -3%;
        top: -20%;
    }
    svg {
        width: 20px;
    }
    li {
        font-size: 19px;
        font-family: monospace;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 1.1;
        margin-bottom: 19px;
    }
    svg {
        width: 12px;
        color: blue;
    }
</style>
